body {
  margin: 0;
  background: #1a1822;
  font-family: sans-serif;
  color: antiquewhite;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

main section {
  transform-style: preserve-3d;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.no-parallax {
  background-color: #1a1822;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parallax {
  height: 50vh;
}

.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: url(./bg-image.jpg);
  background-size: cover;
}
